.grid-item
  .grid-item-content
    .img
    h1 Krodo
    h2 Lvl 8
    h3 Human Shaman
.grid-item
  .grid-item-content
    .img
    h1 The Lodgekeeper
    h2 lvl 9
    h3 Human Wizard
.grid-item
  .grid-item-content
    .img
    h1 Potionmaker
    h2 lvl 12
    h3 Human Cleric
