.grid-item
  .grid-item-content
    .img
    h1 Dalin Earthhammer
    h2 lvl 18
    h3 Dwarf Cleric
.grid-item
  .grid-item-content
    .img
    h1 Maldor Blackborn
    h2 lvl 17
    h3 Orc Barbarian
.grid-item
  .grid-item-content
    .img
    h1 Grogan
    h2 lvl 12
    h3 Human Paladin
.grid-item
  .grid-item-content
    .img
    h1 Trunktan Dellinger
    h2 lvl 12
    h3 Gnome Sorceror
.grid-item
  .grid-item-content
    .img
    h1 Calvis Day
    h2 lvl 4
    h3 Human Fighter
