.grid-item
  .grid-item-content
    .img
    h1 Haraco
    h2 lvl 20
    h3 Half-Orc Paladin
.grid-item
  .grid-item-content
    .img
    h1 Tecton Mecco
    h2 lvl 13
    h3 Human Fighter
.grid-item
  .grid-item-content
    .img
    h1 Uldor Creed
    h2 lvl 10
    h3 Ent Druid
.grid-item
  .grid-item-content
    .img
    h1 Baratec Straut
    h2 lvl 5
    h3 Gnome Ranger
.grid-item
  .grid-item-content
    .img
    h1 Tobias Storm
    h2 lvl 5
    h3 Human Barbarian
.grid-item
  .grid-item-content
    .img
    h1 Druuz
    h2 lvl 4
    h3 Giant Druid
.grid-item
  .grid-item-content
    .img
    h1 Osglow Mere
    h2 lvl 4
    h3 Glob Bard
