.container.npc.page
  .sub-menu_stuff.clear
    .stuff-menu_item.npc-g1
      .s-content
        .s-img
          i(class="ra ra-sword")
        .s-title The Forgotten
    .stuff-menu_item.npc-g2
      .s-content
        .s-img
          i(class="ra ra-revolver")
        .s-title Kraghammer
    .stuff-menu_item.npc-g3
      .s-content
        .s-img
          i(class="ra ra-shield")
        .s-title  Peacekeepers
    .stuff-menu_item.npc-g4
      .s-content
        .s-img
          i(class="ra ra-round-bottom-flask")
        .s-title Sunstar
    .stuff-menu_item.npc-g5
      .s-content
        .s-img
          i(class="ra ra-round-bottom-flask")
        .s-title Collective
    .stuff-menu_item.npc-g6
      .s-content
        .s-img
          i(class="ra ra-round-bottom-flask")
        .s-title Collective
    .stuff-menu_item.npc-g7
      .s-content
        .s-img
          i(class="ra ra-round-bottom-flask")
        .s-title Collective
    .stuff-menu_item.npc-g8
      .s-content
        .s-img
          i(class="ra ra-round-bottom-flask")
        .s-title Collective

.container.npc.page
  .npc-content.npc-1.theforgotten
    h1 Beasts and nature
    h2 Faith condems
    h3 Leaf + arrow up
    include /npcs/forgotten.jade
  .npc-content.npc-2.kraghammer
    h1 Dwarves
    h2 Magic exists
    h3 Fist in the air
    include /npcs/kraghammer.jade
  .npc-content.npc-3.peacekeepers
    h1 Humans and orcs
    h2 Knowledge above all
    h3 Bear with bone in mouth
    include /npcs/peacekeepers.jade
  .npc-content.npc-4.sunstar
    h1 Assassins & warlocks
    h2 To oblivion
    h3 Bleeding dagger
    include /npcs/sunstar.jade
  .npc-content.npc-5.collective
    h1 Undead & necromancers
    h2 It draws near
    h3 Skeleton hand
    include /npcs/collective.jade
