.container.story.page.active_page
  .grid
    .grid_item.col_2.story_1
      .grid_item_content
        h2 Askar
        p The world has come to ruin. Many cities have been destroyed by the great storm many decades ago. The year is 5720 and many races live side by side in anguish. Magic has long been gone and banned from all the lands, as it has proven to cause the demise of every society. There are those who oppose this idea and they are hunted by the government (knows as the Peacekeepers) to the ends of the world. Evil and Good have long laid down their arms and have been living in the shadows to continue the fight. It is known that magic had existed but little prove there exists to support this theory. In today's world, many people will fear at the mere sight of casted magic or the use of magical liquids that heal wounds or make men fly. But many small factions and societies do exists, to discover and reveal secrets of this nature.
        p Aware of the world past by book and crowd, you acknowledge the existence of magic, maybe even within yourself. But you realise that not everyone has the shoulders to carry the knowledge of this burden, so your secrets stay your own. You are part of a small mercenary force, lead by your ____, also known as the leader Dalin Earthhammer. (Grogan) He is a fearsome Dwarf, as he might be stronger than most, but most wise of all. He has lead you, and your brothers to gold and victory before, from when you joined him ____ years ago. He has send you on a mission to find and retrieve something magical, that ought to bring power and wisdom to your force. Together with a captain, Truktan the mighty Dwarf, and 3 other brave warriors, you have been specially selected because you posses a skill set unique to the party. A skill set that will keep you, and them, alive.
        p Your party seeks the legendary weapon “Cronus”. Upon finding this “Cronus”, you must bring it back to your leader. It is not your job to know the reason, appearance or purpose of this “Cronus”, but merely the idea that it needs to be obtained and brought back to the leader. As your party sets off, you reach a town known as Hillbrook. Known for its vast quantity of ales and women, you soon seek refuge in the towns delights and spend many a nights in this memorial paradise. As it has been many nights since you last seen excitement beyond that of combat. Sleeping in separate rooms, some enjoying the company of others than the members of your party, you wake up on the next day, with the intention to set foot east, to the town of Severin, known to be the old town of Dragons, a 3 day walk away. You agreed to meet at sunset, at the local inn “The Golden Truffle”, the place your captain was spending his night. After stocking up on supplies and gathering all your belongings, you meet with your party in front of the inn. But when arriving near the inn, you notice that the local guards immediately approach you in a violent matter. As your mission is one of stealth and nobody should be aware of your mission and henceforth also your presence, you escape them, as you mission parameters state. You hurry to the meeting spot near the east entrance of town. This was set up by the captain as a last resort in case things went south. You have ways of signalling each other when close, to make sure you can find each other, even when out of sight. But one of you has bad news, as your captain appears to be murdered. The origins of his death and the reasons as to why are unknown. But it appears that somebody is aware of your mission and wants the Cronus for themselves. Your mission has now become one of haste, as you must make sure to reach the Cronus first. Your very lives might depend on it. 
    .grid_item.col_2.story_2
      .grid_item_content
        h2 Notes
        .date
          textarea(type="text", id="new_notes")
    .grid_item.col_2.notes
      .grid_item_content
        .note
          h2 Session #notes
          p
        
