.container.stuff.page
	.sub-menu_stuff.clear
		.stuff-menu_item.stuff-m-melee
			.s-content
				.s-img
					i(class="ra ra-sword")
				.s-title Melee
		.stuff-menu_item.stuff-m-ranged
			.s-content
				.s-img
					i(class="ra ra-revolver")
				.s-title Ranged
		.stuff-menu_item.stuff-m-armor
			.s-content
				.s-img
					i(class="ra ra-shield")
				.s-title Armor
		.stuff-menu_item.stuff-m-potions
			.s-content
				.s-img
					i(class="ra ra-round-bottom-flask")
				.s-title Potions
	.stuff-content.stuff-melee
		ul.submenu
			li.c1 Name
			li.c2 Type
			li.c3 Damage
			li.c4 Money
			li.c5 Range
		.c1
			p Club
			p Dagger
			p Javelin
			p Mace
			p Sickle
			p Spear
			p Greatclub
			p Morning Star
			p Quarterstaff
			p Scythe
			p BattleAxe
			p Flail
			p Handaxe
			p Longsword
			p Scimitar
			p Short Sword
			p Throw Hammer
			p Warhammer
			p War Pick
			p Falchion
			p Glaive
			p Greataxe
			p Greatsword
			p Halberd
			p Heavy Flail
			p Longspear
			p Maul
			p Bastard Sword
			p Katar
			p Rapier
			p Spiked Chain
			p Any
		.c2
			p Simple 1h
			p Simple 1h
			p Simple 1h
			p Simple 1h
			p Simple 1h
			p Simple 2h
			p Simple 2h
			p Simple 2h
			p Simple 2h
			p Simple 1h
			p Simple 1h
			p Simple 1h
			p Simple 1h
			p Simple 1h
			p Simple 1h
			p Simple 1h
			p Simple 1h
			p Simple 1h
			p Simple 2h
			p Simple 2h
			p Simple 2h
			p Simple 2h
			p Simple 2h
			p Simple 2h
			p Simple 2h
			p Simple 2h
			p Simple 1h
			p Simple 1h
			p Simple 1h
			p Simple 2h
			p Improvised
			p Simple 1h
		.c3
			p 1d4
			p 1d6
			p 1d8
			p 1d6
			p 1d8
			p 2d4
			p 1d10
			p 1d8
			p 2d4
			p 1d10
			p 1d10
			p 1d6
			p 1d8
			p 1d8
			p 1d6
			p 1d6
			p 1d10
			p 1d8
			p 2d4
			p 2d4
			p 1d12
			p 1d10
			p 1d10
			p 2d6
			p 1d10
			p 2d6
			p 1d10
			p 1d6
			p 1d8
			p 2d4
			p 1d6
			p 1d2
		.c4
			p 1 gp
			p 1 gp
			p 5 gp
			p 5 gp
			p 2 gp
			p 5 gp
			p 1 gp
			p 10 gp
			p 5 gp
			p 5 gp
			p 15 gp
			p 10 gp
			p 5 gp
			p 15 gp
			p 10 gp
			p 10 gp
			p 5 gp
			p 15 gp
			p 15 gp
			p 25 gp
			p 25 gp
			p 30 gp
			p 30 gp
			p 25 gp
			p 25 gp
			p 10 gp
			p 30 gp
			p 30 gp
			p 3 gp
			p 25 gp
			p 30 gp
			p -
		.c5
			p -
			p -
			p 5/10
			p 10/20
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p 5/10
			p -
			p -
			p -
			p 5/10
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p 5/10
	.stuff-content.stuff-ranged
		ul.submenu
			li.c1 Name
			li.c2 Type
			li.c3 Damage
			li.c4 Money
			li.c5 Range
		.c1
			p Hand Crossbow
			p Sling
			p Crossbow
			p Longbow
			p Shortbow
			p Shuriken
		.c2
			p Simple 1h
			p Simple 1h
			p Simple 2h
			p Simple 2h
			p Simple 2h
			p Simple 1h
		.c3
			p 1d6
			p 1d6
			p 1d8
			p 1d10
			p 1d8
			p 1d4
		.c4
			p 25 gp
			p 1 gp
			p 25 gp
			p 30 gp
			p 25 gp
			p 1 gp
		.c5
			p 10/20
			p 10/20
			p 15/30
			p 20/60
			p 15/30
			p 6/12
	.stuff-content.stuff-armor
		ul.submenu
			li.c1 Name
			li.c2 Type
			li.c3 AC
			li.c4 Money
			li.c5 Negafier
		.c1
			p Cloth
			p Cloth
			p Cloth
			p Cloth
			p Cloth
			p Cloth
			p Leather
			p Leather
			p Leather
			p Leather
			p Leather
			p Leather
			p Hide
			p Hide
			p Hide
			p Hide
			p Hide
			p Hide
			p Chainmail
			p Chainmail
			p Chainmail
			p Chainmail
			p Chainmail
			p Chainmail
			p Scale
			p Scale
			p Scale
			p Scale
			p Scale
			p Scale
			p Plate
			p Plate
			p Plate
			p Plate
			p Shield
			p Shield
			p Shield
			p Shield
			p Shield
		.c2
			p Basic
			p Feyweave
			p Padded
			p Studded
			p Starweave
			p Banded
			p Basic
			p Feyweave
			p Padded
			p Studded
			p Starweave
			p Banded
			p Basic
			p Padded
			p Studded
			p Darkhide
			p Elderhide
			p Splint
			p Basic
			p Padded
			p Studded
			p Banded
			p Forgemail
			p Spiritmail
			p Basic
			p Padded
			p Studded
			p Banded
			p Wyrmscale
			p Elderscale
			p Basic
			p Holy
			p Warplate
			p Godplate
			p Small Wooden
			p Big Wooden
			p Small Metal
			p Big Metal
			p Heavy Metal
		.c3
			p -
			p +1
			p +1
			p +2
			p +2
			p +3
			p +2
			p +3
			p +3
			p +4
			p +4
			p +5
			p +3
			p +4
			p +5
			p +4
			p +5
			p +6
			p +6
			p +7
			p +8
			p +9
			p +9
			p +12
			p +7
			p +8
			p +9
			p +10
			p +10
			p +13
			p +9
			p +11
			p +12
			p +15
			p +1
			p +2
			p +1
			p +2
			p +3
		.c4
			p 1
			p 125
			p 130
			p 300
			p 300
			p 500
			p 25
			p 125
			p 130
			p 250
			p 300
			p 500
			p 30
			p 250
			p 300
			p 300
			p 550
			p 700
			p 40
			p 400
			p 500
			p 500
			p 800
			p 1500
			p 45
			p 600
			p 750
			p 750
			p 900
			p 1800
			p 50
			p 1000
			p 1200
			p 2000
			p 5
			p 10
			p 12
			p 20
			p 50
		.c5
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p -
			p 1
			p 1
			p 1
			p 1
			p 1
			p 1
			p 2
			p 2
			p 2
			p 2
			p 2
			p 2
			p 1
			p 1
			p 1
			p 1
			p 1
			p 1
			p 3
			p 3
			p 3
			p 4
			p -
			p -
			p 1
			p 2
			p 3
	.stuff-content.stuff-potions
		ul.submenu
			li.c6 Type
			li.c7 Value
			li.c8 Description
		.c6
			p
				span(class="pot potR")
			p
				span(class="pot potY")
			p
				span(class="pot potY")
			p
				span(class="pot potY")
			p
				span(class="pot potY")
			p
				span(class="pot potB")
			p
				span(class="pot potK")
			p
				span(class="pot potB")
			p
				span(class="pot potB")
			p
				span(class="pot potB")
			p
				span(class="pot potW")
			p
				span(class="pot potW")
			p
				span(class="pot potY")
			p
				span(class="pot potY")
			p
				span(class="pot potY")
			p
				span(class="pot potB")
			p
				span(class="pot potY")
			p
				span(class="pot potB")
			p
				span(class="pot potY")
			p
				span(class="pot potY")
			p
				span(class="pot potR")
			p
				span(class="pot potK")
			p
				span(class="pot potY")
			p
				span(class="pot potG")
			p
				span(class="pot potY")
			p
				span(class="pot potY")
			p
				span(class="pot potB")
			p
				span(class="pot potR")
			p
				span(class="pot potB")
			p
				span(class="pot potW")
			p
				span(class="pot potP")
			p
				span(class="pot potY")
			p
				span(class="pot potW")
			p
				span(class="pot potR")
			p
				span(class="pot potW")
			p
				span(class="pot potB")
			p
				span(class="pot potB")
			p
				span(class="pot potB")
			p
				span(class="pot potY")
			p
				span(class="pot potY")
			p
				span(class="pot potW")
			p
				span(class="pot potP")
			p
				span(class="pot potB")
			p
				span(class="pot potY")
			p
				span(class="pot potY")
		.c7
			p 50 gp
			p 50 gp
			p 50 gp
			p 50 gp
			p 50 gp
			p 50 gp
			p 55 gp
			p 50 gp
			p 50 gp
			p 50 gp
			p 50 gp
			p 50 gp
			p 50 gp
			p 250 gp
			p 250 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 600 gp
			p 750 gp
			p 750 gp
			p 750 gp
			p 750 gp
			p 750 gp
			p 750 gp
			p 750 gp
			p 750 gp
			p 750 gp
			p 750 gp
			p 750 gp
			p 750 gp
		.c8
			p Minor Healing Potion - Cures 2d4 points of damage
			p Endure elements - No harm from cold or hot surrounding
			p Hide from Animals - Animals cannot hear, smell or detect you
			p Hide from Undead - Undead cannot hear, smell or detect you
			p Jump - +10 To jump checks
			p Mage Armor - +4 to AC
			p Magic Stone - If enough of potion touches something, turns to stone
			p Magic Weapon - Summon a weapon from skin, does 1d8 damage
			p Pass without trace - Leave no prints in any terrain
			p Protection from - Summoned creatures don't attack you
			p Remove fear - +10 Morale bonus
			p Sanctuary - Enemies must pass a Wisdom save to attack
			p Shield Of Faith - An extra shield with 15 AC
			p Enlarge Person - Double weight and size, STR +2, DEX +2
			p Reduce Person - Half weight and size, STR +2, DEX +2
			p Barkskin - +2 AC
			p Bear's Endurance - +4 to any CON check
			p Blur - 20% chance enemies miss
			p Bull's Strength - +4 STR in combat
			p Cat's Grace - +4 DEX in combat
			p Healing Potion - Cures 2d6 + 4 points of damage
			p Darkness - Blind creatures in smoke radius (50% miss)
			p Darkvision - 30 meter in darkness
			p Delay Poison - Immune to poison
			p Eagle's Splendor - +4 CHA in combat
			p Fox's Cunning - +4 INT in combat
			p Invisibility - Even from darkvision
			p Lesser Restoration - Remove minor negative condition and heals 1d4
			p Levitate - Creature or object must be willing
			p Misdirection - You decide what people sense when scanning aura
			p Remove Paralysis - Including a Ghouls touch
			p Spider Climb - Vertical movement
			p Undetectable Alignment - Conceal all divination
			p Big Healing Potion - Cures 3d8 + 6 points of damage
			p Daylight - Light of the sun
			p Displacement - Shows you 1 meter away from your position
			p Fly - Flight 12 m per turn
			p Gaseous Form - Caster and his material becomes misty
			p Haste - Extra speed
			p Heroism - +2 To all rolls
			p Magic Circle - Protection against evil
			p Remove Curse - From object or creature
			p Tongues - Speak and understand all languages
			p Water Breathing - Creature can breath underwater
			p Water Walking - Creature can walk on water
