.header{
  position: fixed;
  top: 0px;
  left: 50%;
  padding-top: 30px;
  background-color: $__grey;
  transform: translate(-50%, 0);

  .mainMenu{
    border-bottom: 1px solid $_grey;
    padding-bottom: 20px;

    li{
      display: inline-block;
      list-style-type: none;
      text-align: center;
      margin: 0 30px;
      color: $secondary;
      cursor: pointer;
      font-size: 15px;
      opacity: 0.6;

      i{
        margin-bottom: 10px;
        position: relative;
        top: 0;
        display: block;
        color: $secondary;
      }

      &:hover, &.active_li{
        opacity: 1;
        color: $primary;

        i{
          top: -5px;
        }
      }
    }
  }
}
