.modal-overlay{
  display: none;

  .modal-bg{
    background-color: rgba($black, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  .modal{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: $corner;
    z-index: 6;
    width: 400px;
    box-shadow: 0 0 30px $grey;
    overflow: hidden;
  }

  .active-modal{
    display: block;
  }

  .modal-cities{

    .city-input{
      width: 100%;
      background-color: $__grey;
      //box-shadow: 0 0 5px $grey;

      input{
        background-color: $__grey;
        padding: 20px 30px;
        width: calc(100% - 60px);
        @include input;
      }
    }

    .city-list{
      max-height: 350px;
      overflow: auto;

      li{
        padding: 0 30px;
        border-bottom: 1px solid $_grey;
        line-height: 40px;
        list-style-type: none;
        cursor: pointer;

        &:hover{
          background-color: $_primary;
          color: $primary;
        }
      }
    }
  }
}

.modal-open{
  display: block;
}
