.right{
  right: 40px;
  left: auto;

  .title{
    font-size: 14px;
    color: $black;
    margin-bottom: 20px;
  }

  .dice{
    user-select: none;
    padding: 30px 30px 20px 30px;
    position: relative;
    background-color: $__grey;
    overflow: hidden;

    .topR{
      position: absolute;
      top: 20px;
      right: 10px;
      opacity: 0.1;
      font-size: 160px;
      z-index: 1;
    }

    .dices{
      position: relative;
      z-index: 2;

      div{
        border-radius: $corner;
        background-color: $_grey;
        width: 50px;
        cursor: pointer;
        padding: 4px 10px;
        text-align: center;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        &:hover{
          background-color: $primary;
          color: $white;
        }
      }

      .active_combat{
        padding: 6px 10px 2px 10px;
      }

      .actived_combat{
        padding: 6px 10px 2px 10px;
        background-color: $primary;
        color: $white;
      }
    }

    .result{
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 15px;
      font-weight: 500;
      color: $primary;
    }
  }

  .sort{
    width: 20px;
    height: 0px;
    position: absolute;
    top: 113px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $primary;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    overflow: hidden;
    z-index: 25;

    &:before{
      color: $white;
      @include fontawesome("\f01e");
    }
  }

  .active-sort{
    height: 20px;
  }

  .players{
    .player{
      border-bottom: 1px solid $_grey;
      padding: 20px 30px 10px 30px;
      position: relative;
      min-height: 52px;

      input{
        line-height: 20px;
        font-family: $font;
        font-size: $size;
        font-weight: $font-weight;
        text-align: center;
      }

      .image{
        float: left;
        margin-right: 15px;

        img{
          border-radius: $circle;
          width: 40px;
          height: 40px;
        }
      }

      .name{
        margin-bottom: 5px;
        color: $red;
      }

      .level{

      }

      .health{
        position: absolute;
        top: 21px;
        right: 30px;
        width: 60px;
        text-align: center;

        i{
          color: $red;
          display: block;
          margin-bottom: 8px;
        }

        .current_health{
          font-weight: 500;
          display: inline-block;
          position: relative;
          right: -3px;

          input{
            line-height: 20px;
            font-family: $font;
            font-size: $size;
            font-weight: $font-weight;
            text-align: center;
            width: 30px;
            background: lighten($red, 47%);
          }
        }

        .max-health{
          display: inline-block;
        }
      }

      .money{
        position: absolute;
        top: 21px;
        right: 90px;
        width: 40px;
        text-align: center;
        opacity: 1;
        display: block;
        z-index: 20;

        .dolla{
          color: $green;
          display: block;
          margin-bottom: 3px;
          font-weight: 500;
          font-size: 10px;
          position: relative;
          top: -2px;
        }

        input{
          line-height: 20px;
          font-family: $font;
          font-size: $size;
          font-weight: $font-weight;
          text-align: center;
          width: 30px;
          background: lighten($green, 30%);
        }
      }

      .hide_money{
        opacity: 0;
        display: none;
      }

      .combat{
        margin-top: 10px;
        max-height: 0px;
        overflow: hidden;

        .spell_slots{
          width: 30px;
          float: left;
          text-align: center;
          position: absolute;
          top: 21px;
          right: 90px;
          opacity: 0;

          i{
            padding-bottom: 7.5px;
            color: $primary;
            display: block;
          }

          input{
            line-height: 20px;
            font-family: $font;
            font-size: $size;
            font-weight: $font-weight;
            text-align: center;
            width: 30px;
            background: lighten($primary, 30%);
          }
        }

        .initiative{
          width: 30px;
          float: left;
          text-align: center;
          position: absolute;
          top: 21px;
          right: 125px;
          opacity: 0;

          i{
            color: $yellow;
            padding-bottom: 7.5px;
            display: block;
          }

          input{
            background-color: lighten($yellow, 33%);
            width: 30px;
          }

        }

        .stats{
          .stat{
            text-align: center;
            float: left;
            width: 10%;
            position: relative;

            .edit{
              height: 36px;
              width: 88%;
              position: absolute;
              border-radius: $corner;
              overflow: hidden;
              opacity: 0;
              transform: scale(0.2);

              div{
                width: 50%;
                height: 36px;
                float: left;
                text-align: center;
                line-height: 36px;
                cursor: pointer;
              }

              .add{
                background-color: $grey__;

                &:before{
                  color: $white;
                  @include fontawesome("\f067");
                }

                &:hover{
                  background-color: $black;

                  &:before{
                    color: $green;
                  }
                }
              }

              .substract{
                background-color: $grey__;

                &:before{
                  color: $white;
                  @include fontawesome("\f068");
                }

                &:hover{
                  background-color: $black;

                  &:before{
                    color: $red;
                  }
                }
              }
            }

            .prop{
              text-transform: uppercase;
              color: $grey;
              font-size: 10px;
              letter-spacing: 1px;
            }

            &:hover{
              .edit{
                opacity: 1;
                transform: scale(1);
              }
            }
          }
        }
      }

      .combat_show{
        max-height: 500px;

        .initiative{
          opacity: 1;
        }

        .spell_slots{
          opacity: 1;
        }
      }
    }

    .enemy{
      background-color: $_primary;
      position: relative;
      padding: 0;
      min-height: 40px;

      input{
        line-height: 40px;
        font-family: $font;
        font-size: $size;
        font-weight: $font-weight;
        text-align: center;
      }

      .delete{
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 40px;
        background-color: $white;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        z-index: 15;

        &:before{
          @include fontawesome("\f00d");
        }

        &:hover{
          background-color: $_primary;
          color: $primary;
        }
      }

      .name{
        position: absolute;
        top: 0;
        right: 0;
        left: 70px;
        overflow: hidden;

        input{
          color: $red;
          width: 100%;
          padding-left: 13px;
          text-align: left;
        }
      }

      .initiative{
        position: absolute;
        top: 0;
        right: 100px;
        height: 40px;
        width: 60px;
        background-color: lighten($yellow, 33%);
        z-index: 15;

        i{
          position: absolute;
          top: 13px;
          right: 7px;
          color: $yellow;
        }

        input{
          background-color: lighten($yellow, 33%);
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          border-left: 1px solid $_grey;
          border-right: 1px solid $_grey;
        }
      }

      .health{
        top: 14px;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 40px;
        overflow: hidden;
        background-color: lighten($red, 47%);
        z-index: 15;

        .current_health, .max-health{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 30px;
          height: 40px;
          overflow: hidden;
          background-color: orange;
          border-left: 1px solid $_grey;

          input{
            background-color: lighten($red, 47%);
            width: 30px;
            text-align: center;
            line-height: 40px;
          }
        }

        .max-health{
          background-color: pink;
          left: 30px;
          border-right: 1px solid $_grey;
        }

        i{
          position: absolute;
          top: 13px;
          right: 14px;
        }
      }

      &:hover{
        opacity: 1;
      }
    }
  }

  .add-enemy{
    position: absolute;
    bottom: 0;
    background-color: red;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: $__grey;
    cursor: pointer;

    &:before{
      @include fontawesome("\f067");
    }

    &:hover{
      background-color: $primary;
      color: $white;
    }
  }
}

.right_active{
  width: 700px;
}
