h1 {
  text-align: center;
  line-height: 100px;
  margin-top: 60px;
  font-weight: 100;
  color: $grey_;
}

.stats {
  padding: 50px;
  max-width: 1600px;
  margin: 0 auto;

  .stat {
    width: 98%;
    margin: 1%;
    background-color: $white;
    border-radius: $corner;
    box-shadow: 0 0 40px $_grey;
    float: left;

    &:hover {
      box-shadow: 0 0 40px $grey;
    }

    @media screen and (min-width: 760px) {
      width: 48%;
    }

    @media screen and (min-width: 1200px) {
      width: 31.33%;
    }

    @media screen and (min-width: 1500px) {
      width: 23%;
    }

    h2 {
      text-align: center;
      line-height: 55px;
      font-weight: 100;
      color: $primary;
      border-bottom: 1px solid $__grey;
    }

    .chart {
      margin: 20px;
      height: 280px;

      .bars {
        float: left;
        width: 16%;
        margin: 2%;
        height: 200px;
        text-align: center;
        background-color: $__grey;
        position: relative;

        .bar {
          position: absolute;
          display: block;
          width: 100%;
          bottom: 0;
          height: 0px;

          span {
            top: -13px;
            position: absolute;
            text-align: center;
            display: block;
            width: 100%;
          }
        }

        .p1 { background-color: lighten($yellow, 7%); }
        .p2 { background-color: lighten($blue, 15%); }
        .p3 { background-color: lighten($primary, 20%); }
        .p4 { background-color: lighten($green, 10%); }
        .p5 { background-color: lighten($red, 20%); }
      }
    }

    .max {
      display: none;
    }

    .key {
      position: absolute;
      bottom: -70px;
      width: 100%;
      text-align: center;
      cursor: pointer;

      .name {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $white;
        background-color: $grey__;
        position: absolute;
        left: 50%;
        top: 30px;
        padding: 7px 10px;
        transform: translate(-50%, 0);
        display: none;
      }

      .image {
        img {
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
      }

      &:hover {
        .name {
          display: block;
        }
      }
    }
  }
}

.footer {
  clear: both;
  height: 50px;
}
