.bars
  .bar.p1
  .key
    include /players/player1.jade
.bars
  .bar.p2
  .key
    include /players/player2.jade
.bars
  .bar.p3
  .key
    include /players/player3.jade
.bars
  .bar.p4
  .key
    include /players/player4.jade
.bars
  .bar.p5
  .key
    include /players/player5.jade
.bars
  .bar.p6
  .key
    include /players/player6.jade
