.delete
.name.title
  input(type="text")
.initiative
  input(type="text") 
  i(class="ra ra-lightning-bolt")
.health 
  i(class="ra ra-hearts")
  .current_health
    input(type="text")
  .max-health
    input(type="text")
