.left
  .block
    .left_quest
      .current_quest
        .change
        .title The search for completion
        .step 1.
        .description The party is looking for the Dwarf that hpmds the gun. They will then learn about the guns power....
        .img
        .complete
  .block
    .left_location
      .current_location
        .change
        .type City
        .title Waterbrook
        .menu
          .overview
            i(class="fa fa-cog", aria-hidden="true")
          .info
            i(class="fa fa-user-o", aria-hidden="true")
        .overview_content.clear
          .stuff_l
            ul
              li People
          .stuff_r
            ul
              li Quest #1
        .info_content.clear
          .info_p Deepmere has been a calm city that has been kept safe because of dwarfs for quiet some time. It's a business heavy place and the stuff you do there is mostly fair, as guards roam the entire city. It's still a bit new but because of dwarven ingenuity it seems to have grown in a very fast paste.
          .details_l
            ul
              li Population:
              li Defense:
              li Laws/Crime:
              li Corruption:
              li Military:
              li Resources:
              li Wealth:
              li Behaviour:
              li Religions:
          .detail_r
            ul
              li 1651
              li Stone
              li H / L
              li None
              li 120, Lvl.6
              li Armor & Weapons
              li L
              li Welcoming
              li Dwarven
  .block
    .current_generator.clear
      .treasure.col 
        .title Treasure
        ul
          li Easy
          li Normal
          li Hard
          li Challenge
      .town.col 
        .title Town
        ul
          li Waterbridge
          li Hillbrook
          li Thatplace
          li D-Zone
      .npc.col 
        .title NPC
        ul
          li Balky McDurst
          li Turdoec Ball-Z
          li Toendra Grubers
          li Tunesia Vanderstooth
  .block
    .current_music
      .spotify S
      .custom C
