.modal-overlay
  .modal-bg
    
  .modal.modal-quests
    
  .modal.modal-cities
    .city-input
      input(type="text", placeholder="Location...")
    .city-list
      ul
        li Aberdeen
        li Lakeshore
        li Frusco
        li Keld
        li Gloom
        li Pomovara
        li Vertitas
        li Willowdale
        li Hallow
        li Blackburn
        li Varis
        li Tergaron
        li Sanlow
        li Langdale
        li Trudid
      
