.header
  .mainMenu
    ul
      li.active_li
        i(class="ra ra-book")
        | Story
      li
        i(class="ra ra-player")
        | NPC
      li
        i(class="ra ra-wooden-sign")
        | Map
      li
        i(class="ra ra-anvil")  
        | Stuff
.clock
  p  
