.image 
  img(src="")
.name.title
.level
.health 
  i(class="ra ra-hearts")
  .current_health
    input(type="text")
  .max-health
.money 
  .dolla $
  input(type="text")

.combat.clear
  .initiative
    i(class="ra ra-lightning-bolt")
    input(type="text")
  .spell_slots
    i(class="ra ra-book")
    input(type="text")
  .stats
    .stat.attacks 
      .edit
        .add
        .substract
      .prop Attacks
      .val 
    .stat.spells
      .edit
        .add
        .substract
      .prop Spells
      .val 
    .stat.hits
      .edit
        .add
        .substract
      .prop Hits
      .val 
    .stat.misses 
      .edit
        .add
        .substract
      .prop Misses
      .val 
    .stat.blocked
      .edit
        .add
        .substract
      .prop Blocked
      .val 
    .stat.healed
      .edit
        .add
        .substract
      .prop Healed
      .val 
    .stat.damage_done
      .edit
        .add
        .substract
      .prop Dealth
      .val 
    .stat.damage_received
      .edit
        .add
        .substract
      .prop Received
      .val 
    .stat.roll20
      .edit
        .add
        .substract
      .prop Roll 20
      .val 
    .stat.roll1
      .edit
        .add
        .substract
      .prop Roll 1
      .val 
