.right
  .dice
    .title Dice rolling
    i.topR.ra.ra-perspective-dice-three
    .dices
      .die.d2 1d2
      .die.d4 1d4
      .die.d6 1d6
      .die.d8 1d8
      .die.d10 1d10
      .die.d12 1d12
      .die.d20 1d20
      .active_combat
        i(class="ra ra-crossed-swords")
    .result
  .sort
  .players
    .player.player1
      include /modules/loading.jade
      include /modules/players.jade
    .player.player2
      include /modules/loading.jade
      include /modules/players.jade
    .player.player3
      include /modules/loading.jade
      include /modules/players.jade
    .player.player4
      include /modules/loading.jade
      include /modules/players.jade
    .player.player5
      include /modules/loading.jade
      include /modules/players.jade
  .add-enemy
      
