doctype html
html
  head
    title D&D - Stats
    include /header.jade
  body

    h1 D&D stats: Askar

    .stats
      .stat.stat-attacks
        h2 Melee attacks made
        .chart
          .max 20
          include /bars.jade
      .stat.stat-spells
        h2 Spell casts
        .chart
          .max 15
          include /bars.jade
      .stat.stat-hits
        h2 Successful hits
        .chart
          .max 15
          include /bars.jade
      .stat.stat-misses
        h2 Misses
        .chart
          .max 13
          include /bars.jade
      .stat.stat-accuracy
        h2 Attack accuracy
        .chart
          .max 40
          include /bars.jade
      .stat.stat-blocked
        h2 Blocks made
        .chart
          .max 13
          include /bars.jade
      .stat.stat-healed
        h2 Healing received
        .chart
          .max 20
          include /bars.jade
      .stat.stat-damage
        h2 Damage done
        .chart
          .max 85
          include /bars.jade
      .stat.stat-received
        h2 Damage received
        .chart
          .max 25
          include /bars.jade
      .stat.stat-kills
        h2 Kills made
        .chart
          .max 6
          include /bars.jade
      .stat.stat-downs
        h2 Times been unconsious
        .chart
          .max 2
          include /bars.jade
      .stat.stat-deaths
        h2 Deaths
        .chart
          .max 2
          include /bars.jade
      .stat.stat-roll20
        h2 20's rolled
        .chart
          .max 6
          include /bars.jade
      .stat.stat-roll1
        h2 1's rolled
        .chart
          .max 6
          include /bars.jade

    include /footer.jade
