doctype html
html
  head
    title D&D - Stats
    include /header.jade
  body

    .stats
      .stat.stat-attacks
        h2 Melee attacks made
        .chart
          .bars
            .bar.p1 16
            .key
              include /players/player1.jade
          .bars
            .bar.p2 13
            .key
              include /players/player2.jade
          .bars
            .bar.p3 1
            .key
              include /players/player3.jade
          .bars
            .bar.p4 1
            .key
              include /players/player4.jade
          .bars
            .bar.p5 9
            .key
              include /players/player5.jade

    include /footer.jade
