doctype html
html
  head
    title Dash & D - Askar
    include /header.jade
  body
    i(class="fa fa-spinner fa-spin top-saving", aria-hidden="true")
    i(class="fa fa-check top-saved", aria-hidden="true")
    include /modules/nav.jade
    include /modules/modal.jade
    //include /modules/left.jade
    //include /modules/right.jade
    include /pages/story.jade
    include /pages/map.jade
    include /pages/stuff.jade
    include /pages/npc.jade

    include /footer.jade
