.map{
  display: none;

  .map-holder{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: auto;
    padding: 0 300px;

    svg{
      width: 600%;
    }
  }
}

.map.active_page{
  display: block;
}
