.story{
  display: none;

  .grid{

    .story_1{
      max-height: 870px;
      border-radius: $corner;
      overflow: auto;

      .grid_item_content{
        color: $grey;
        text-align: center;
        background: $black url(../images/bg.png) no-repeat top center;
        background-size: 100% auto;
        padding-top: 270px;

        h2{
          color: $__grey;
          position: relative;
          margin: 60px 0;

          &:after{
            content: "";
            position: absolute;
            bottom: -15px;
            left: 50%;
            width: 30px;
            margin-left: -15px;
            height: 2px;
            background-color: $grey_;
          }
        }

        p{
          margin: 20px 0;
        }
      }
    }
  }

  .story_2{

    h2{
      margin-bottom: 20px;
    }

    textarea{
      font-family: $font;
      font-size: $size;
      line-height: 22px;
      background-color: $_primary;
      padding: 20px 40px;
      margin: 0 -40px;
      width: 100%;
      min-height: 200px;
      min-height: 540px;
    }
  }

  .note{
    h2{
      margin-bottom: 20px;
    }
  }
}

.story.active_page{
  display: block;
}
