.stuff, .npc{
  display: none;

  .submenu {
    position: fixed;
    top: 340px;
    width: 900px;
    box-shadow: 0 3px 4px 0px darken($__grey, 4%);
    border-bottom: 1px solid $primary;
    padding-bottom: 10px;

    li {
      float: left;
    }
  }

  .sub-menu_stuff{
    width: 700px;
    margin: 140px auto 80px auto;

    .stuff-menu_item{
      float: left;
      width: 25%;
      margin-bottom: 60px;
      text-align: center;

      .s-img{
        font-size: 22px;
        margin-bottom: 10px;
        color: $yellow;
      }

      .s-content{
        padding: 20px 0;
        margin: 0 20px;
        cursor: pointer;
        background-color: $white;
        border-radius: $corner;
        border: 1px solid $white;

        &:hover, .active_li{
          transform: scale(1.05);
          border: 1px solid $primary;
          box-shadow: 0 0 30px $_grey;
        }
      }

      &.active_li .s-content{
        transform: scale(1.05);
        border: 1px solid $primary;
        box-shadow: 0 0 30px $_grey;
      }
    }
  }

  .stuff-content{
    max-height: 500px;
    overflow: auto;
    clear: both;

    & > div{
      float: left;
      width: 20%;

      p{
        border-bottom: 1px solid $_grey;
        line-height: 35px;
      }
    }

    .c1{ width: 30%; }
    .c2{ width: 30%; }
    .c3{ width: 14%; font-weight: bold; }
    .c4{ width: 14%; }
    .c5{ width: 12%; }
    .c6{ width: 14%; }
    .c7{ width: 14%; }
    .c8{ width: 72%; }
  }

  .stuff-melee { display: none; }
  .stuff-ranged { display: none; }
  .stuff-armor { display: none; }
  .stuff-potions { display: none; }
  .active_subpage { display: block; }

  .pot{
    padding: 0px 0;
    margin: 13px 0;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    display: block;
    background-color: $primary;
  }

  .potR { background-color: $red; }
  .potB { background-color: $blue; }
  .potY { background-color: $yellow; }
  .potG { background-color: $green; }
  .potK { background-color: $black; }
  .potW { background-color: $white; }
}

.stuff.active_page{
  display: block;
}
