body{
  background-color: $_primary;
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $grey_;
}

.container{
  max-width: 900px;
  margin: 110px auto;
}

h1{

}

h2{

}

h3{

}

h4{

}

p{

}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}
