@mixin fontawesome($letter){
  content: $letter;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px;
  text-decoration:none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
